<!-- Staging configuration -->
<appSettings>
	<add key="PendingRequestsLink" value="http://fay-deviis02/TravelAndTrainingRequestor/Main.aspx?v=mypen" />
	<add key="SubmittedRequestsLink" value="http://fay-deviis02/TravelAndTrainingRequestor/Main.aspx?v=my" />
	<add key="MenuSystem" value="MCP" />
	<add key="MenuSubSystem" value="TTR" />
</appSettings>