<connectionStrings>
	<add name="cnODS" connectionString="Data Source=HOU-SQLDEV03;Initial Catalog=ODS;Integrated Security=True"
         providerName="SWN.TTR.Repository.SqlServer.OdsSqlRepository"/>
	<add name="SWN.TTR.Properties.Settings.cnTTR" connectionString="Data Source=HOU-SQLTST02;Initial Catalog=Training_Request;Integrated Security=True"
         providerName="SWN.TTR.Repository.SqlServer.TravelAndTrainingRequestSqlRepository"/>
</connectionStrings>