<!-- Health Monitoring -->
	<healthMonitoring enabled="true">
		<eventMappings>
			<clear/>
			<add name="TTR Errors" type="System.Web.Management.WebBaseErrorEvent" startEventCode="0" endEventCode="2147483647"/>
		</eventMappings>
		<providers>
			<clear/>
			<add name="EventLogProvider" type="System.Web.Management.EventLogWebEventProvider"/>
			<add type="System.Web.Management.SimpleMailWebEventProvider" name="EmailWebEventProvider" from="TravelAndTrainingRequestorException@swn.com" to="ITWEBAPP@swn.com" bodyHeader="!!! HEALTH MONITORING WARNING !!!" bodyFooter="This email has been generated automatically. Please do not respond." buffer="false"/>
		</providers>
		<rules>
			<clear/>
			<add name="Eveng Log Errors" eventName="TTR Errors" provider="EventLogProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00"/>
			<add name="Email Errors" eventName="TTR Errors" provider="EmailWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00"/>
		</rules>
	</healthMonitoring>

