	<client>
		<endpoint address="http://fay-deviis02/ICC/ODS/StateService.asmx" binding="basicHttpBinding" bindingConfiguration="StateServiceSoap" contract="StateServices.StateServiceSoap" name="StateServiceSoap"/>
		<endpoint address="http://fay-deviis02/ICC/ODS/RolesService.asmx" binding="basicHttpBinding" bindingConfiguration="RolesServiceSoap" contract="RolesServices.RolesServiceSoap" name="RolesServiceSoap"/>
	</client>